@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: linear-gradient(to bottom, #212339, #191B2C) ;
    font-size: 1.25em;
    text-align: center;
    font-weight: normal;
    padding: 0px;
    margin: 0px
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

h1 {
    text-shadow: 1px 1px 2px #49643c82;
    font-family: 'Montserrat', sans-serif;
    color: #5C7F4B;
}
h2 {
    color: #8B8FC4;
    
    font-family: "Montserrat", sans-serif;
}
a {
    color: #8B8FC4;
    font-style: normal;
    font-family: "Comfortaa", sans-serif;
}   

img {

    box-shadow: 5px 5px 10px #1A1B29;
}
h2#Jogos{
    font-size: 40px;
    font-style: bold;
    color: #888ede

}

.titulo{
    font-size: 35px;
    font-style: italic;
}

.voltar{
    height: 50px;
    width: 50px;
    float: right;

}

header{
    background-color: #2B2F58;
    padding: 1px 20px 3px 20px;
    min-width: 320;
    max-width: 600px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.402);
    border-radius: 10px;
    margin: auto;

}

header.tituloJogos{
    max-width: 100%;
}

header.tituloJogos{
    font-family: 'Montserrat', sans-serif;
    color: #8B8FC4;
    font-size: 30px;
}

header>a{
    text-decoration: none;
    font-size: 2em;
}
header>a:hover{
    text-decoration: underline;
}

header > h1{
    text-align: center;
    font-size: 2.5em;
}

header > nav > h2{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

header > nav > a{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    background-color: #1b1d28;
    text-decoration: none;
    padding: 15px;
    max-width: 100px;
    min-width: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    margin-left: 230px;
    justify-content: center;
    justify-items: center;
}

header > nav > a:hover {
    color: #606387;
    background-color: #0F1117;
}

header.titulo{
    margin: auto;
    width: auto;
    height: auto;
    text-align: left;
    
}

header.titulo > h1{
    font-size: 2em;
    text-align: left;
}


header.titulo>p{
    font-family: "Comfortaa", sans-serif;
    color: #8B8FC4;
}

section.jogos {
    background-color: #1A1D36;
    min-width: 320px;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}

section.jogos>p{
    font-family: "Comfortaa", sans-serif;
    color: #888ede;
    text-align: justify;
    text-indent: 30px;
}
section.jogos>img{
    width: 100%;
}

.botaoVoltar{
    background-color: #888ede;
    height: 50px;
    width: 50px;
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 10px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.399);

}


